/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
.element-focusable, #navigation .block-menu .block__title,
#navigation .block-menu-block .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.element-focusable, #navigation .block-menu .block__title,
#navigation .block-menu-block .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* HTML element (SMACSS base) rules */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Base rules */
html {
  height: 100%;
}

body {
  background-color: #fff;
}

select,
input,
textarea {
  border: 0;
}

select:focus,
input:focus,
textarea:focus {
  outline: none;
}

fieldset {
  margin: 0 0 1em;
  padding: 10px 20px;
  border-color: #eee;
}

legend {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0 0.8em;
}

input[type="search"] {
  box-sizing: border-box;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #59c2ed;
}

a img {
  border: 0;
}

ul,
ol {
  padding: 0;
  margin-left: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1em;
  margin-bottom: 1em;
}

img,
media {
  max-width: 100%;
  height: auto !important;
  vertical-align: top;
}

video {
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

th {
  padding: 0.5em 1em;
}

th a,
th a.active img {
  margin: 2px 3px;
}

td {
  padding: 0.5em 1em;
}

tr + tr td {
  border-top: 1px solid #ccc;
}

thead th {
  text-align: left;
  border-bottom: 2px solid #ccc;
}

th {
  font-weight: bold;
}

html {
  color: #414042;
  font-family: "Merriweather", Georgia, Times, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3125;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

em, i {
  font-style: italic;
}

strong, b {
  font-style: normal;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #414042;
  margin-top: 0;
  margin-bottom: 0.2625em;
  padding: 0;
  -webkit-transition: font-size 0.3s ease-out;
          transition: font-size 0.3s ease-out;
  -webkit-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

h1 a,
h1 a:visited, h2 a,
h2 a:visited, h3 a,
h3 a:visited, h4 a,
h4 a:visited, h5 a,
h5 a:visited, h6 a,
h6 a:visited {
  color: inherit;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #59c2ed;
}

h1 {
  font-size: 32px;
  line-height: 1em;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 28.8px;
  font-weight: 300;
  color: #59c2ed;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #59c2ed;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #e6e7e8;
  margin: 10px auto;
  color: #e6e7e8;
  background-color: #e6e7e8;
}

p {
  margin: 0 0 1em;
}

blockquote {
  clear: both;
  padding: 0 20px;
  margin: 20px;
  padding: 0;
  margin: 0;
}

blockquote p:before, blockquote p:after {
  color: #8d8c8f;
  position: relative;
  font-size: 48px;
  font-size: 3rem;
  top: 18px;
  line-height: 0.2;
}

blockquote p:before {
  content: "\201C";
  left: -5px;
}

blockquote p:after {
  content: "\201D";
  right: 5px;
}

q {
  font-style: italic;
}

/* Layout rules */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
.messages__inner {
  max-width: 980px;
}

.layout-container {
  max-width: 73.75em;
  margin: 2em auto;
}

/* Component (SMACSS module) rules */
label {
  display: table;
}

.form-item,
.form-actions {
  margin-bottom: 1em;
}

.form-item label.option,
.form-actions label.option {
  display: inline;
  font-weight: normal;
}

.form-item .description,
.form-actions .description {
  font-size: 14px;
  font-size: 0.875rem;
}

.form-item:after {
  content: "";
  display: table;
  clear: both;
}

.container-inline .form-item:after {
  display: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-item label {
  font-weight: bold;
  display: table;
  margin-bottom: 5px;
}

.form-item label.option {
  display: inline;
}

.form-checkbox,
.form-radio {
  vertical-align: middle;
}

.marker,
.form-required {
  color: #db2c2c;
}

.form-item .description {
  font-size: 14px;
  font-size: 0.875rem;
}

.form-checkboxes .description,
.form-radios .description {
  margin-left: 2.4em;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0;
}

.form-submit {
  background: #414042;
  padding: 1.2em 5em;
  color: #fff;
}

.container-inline div,
.container-inline label {
  display: inline;
}

tr .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.form-search,
.form-textarea,
.form-text {
  max-width: 100%;
  padding: 0.5em;
  background: #e6e7e8;
  border: 0;
  font-weight: 700;
  border-radius: 0;
}

.form-search:focus,
.form-textarea:focus,
.form-text:focus {
  border-color: #8b9931;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
}

.form-text {
  height: 32px;
}

::-moz-selection,
::-o-selection,
::-ms-selection,
::-webkit-selection,
::-moz-selection {
  background-color: #f09416;
  color: #fff;
}

::-moz-selection,
::-o-selection,
::-ms-selection,
::-webkit-selection,
::selection {
  background-color: #f09416;
  color: #fff;
}

.form-select {
  height: 32px;
  line-height: 32px;
  background-color: #e6e7e8;
  padding: 0 0.25em;
}

.chosen-container.form-select {
  padding: 0;
}

.form-textarea,
.form-select,
.form-text {
  font-size: 18px;
  font-size: 1.125rem;
}

.resizable-textarea .grippie {
  margin-top: 1px;
}

.form-checkbox[disabled],
.form-radio[disabled],
.form-textarea[disabled],
.form-select[disabled],
.form-text[disabled] {
  opacity: 0.5;
}

.image-left,
.image-right {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 640px) {
  .image-left {
    float: left;
    margin-right: 1em;
  }
  .image-right {
    float: right;
    margin-left: 1em;
  }
}

/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */
/**
 * Wireframes.
 */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}

/**
 * Accessibility features.
 */
/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
.element-focusable,
#navigation .block-menu .block__title,
#navigation .block-menu-block .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;
}

#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/**
 * Branding header.
 */
/**
 * Navigation bar.
 */
#navigation {
  /* Sometimes you want to prevent overlapping with main div. */
  /* overflow: hidden; */
  /* Main menu and secondary menu links and menu block links. */
}

#navigation .block {
  margin-bottom: 0;
}

#navigation .links,
#navigation .menu {
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}

#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: left;
  /* LTR */
  padding: 0 10px 0 0;
  /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/**
 * Breadcrumb navigation.
 */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/**
 * Titles.
 */
.page__title,
.node__title,
.block__title,
.comments__title,
.comments__form-title,
.comment__title {
  /* Comment title. */
  margin: 0;
}

/**
 * Inline styles.
 */
/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;
}

.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 1em 0 0;
  /* LTR */
}

/**
 * "More" links.
 */
.more-link {
  text-align: right;
  /* LTR */
}

.more-help-link {
  text-align: right;
  /* LTR */
}

.more-help-link a {
  background-image: inline-image("help.png");
  background-position: 0 50%;
  /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px;
  /* LTR */
}

/**
 * Pager.
 */
/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis, .pager-current {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  /* A concatenation of several list items using an ellipsis. */
}

/* The current page's list item. */
.pager-current {
  font-weight: bold;
}

/**
 * Blocks.
 */
/* Block wrapper. */
.block {
  margin-bottom: rhythm(1);
}

/**
 * Menus.
 */
.menu__item.is-leaf {
  list-style-image: inline-image("menu-leaf.png");
  list-style-type: square;
}

.menu__item.is-expanded {
  list-style-image: inline-image("menu-expanded.png");
  list-style-type: circle;
}

.menu__item.is-collapsed {
  list-style-image: inline-image("menu-collapsed.png");
  /* LTR */
  list-style-type: disc;
}

/* The active item in a Drupal menu. */
.menu a.active {
  color: #000;
}

/**
 * Marker.
 */
/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */
/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}

/**
 * Comments.
 */
/* Wrapper for the list of comments and its title. */
.comments {
  margin: rhythm(1) 0;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {
  /* Comment's permalink wrapper. */
}

.comment .permalink {
  text-transform: uppercase;
  font-size: 75%;
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: 30px;
  /* LTR */
}

/**
 * Forms.
 */
/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  margin: rhythm(1) 0;
  /* Pack groups of checkboxes and radio buttons closer together. */
  /* Form items in a table. */
  /* Highlight the form elements that caused a form submission error. */
  /* The descriptive help text (separate from the label). */
}

.form-checkboxes .form-item,
.form-radios .form-item {
  /* Drupal core uses "0.4em 0". */
  margin: 0;
}

tr.odd .form-item,
tr.even .form-item {
  margin: 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-item .description {
  font-size: 0.85em;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

/* The part of the label that indicates a required field. */
.form-required {
  color: #c00;
}

/* Labels for radios and checkboxes. */
label.option {
  display: inline;
  font-weight: normal;
}

/* Buttons used by contrib modules like Media. */
a.button {
  appearance: button;
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left;
  /* LTR */
}

/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: rhythm(1);
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px;
  /* LTR */
}

#user-login ul {
  margin: rhythm(1) 0;
}

/**
 * Drupal admin tables.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form table ul {
  margin: 0;
}

tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.even {
  background-color: #fff;
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Center checkboxes inside table cell. */
td.checkbox,
th.checkbox {
  text-align: center;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js .collapsible .fieldset-legend {
  background-image: inline-image("menu-expanded.png");
  background-position: 5px 65%;
  /* LTR */
  background-repeat: no-repeat;
  padding-left: 15px;
  /* LTR */
}

html.js .collapsed .fieldset-legend {
  background-image: inline-image("menu-collapsed.png");
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}

.fieldset-legend .summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}

.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  border-radius: 3px;
}

.progress .filled {
  background-color: #0072b9;
  background-image: image-url("progress.gif");
}

.button--spa-locator,
.button {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: 0;
  margin: 0;
  padding: 0 1.5em;
  -webkit-transition: background-color .3s ease-in-out;
          transition: background-color .3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  overflow: visible;
  cursor: pointer;
}

.button--spa-locator:focus,
.button:focus {
  outline: none;
}

.button--spa-locator::-moz-focus-inner,
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Fill width of container */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.button--small {
  height: 24px;
  line-height: 24px;
  border: 0;
  margin: 0;
  padding: 0 1em;
  font-size: 0.8em;
}

/* Inherit sizing from parent  */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
}

button.button--natural {
  background: none;
  border: 0;
}

.checkout-continue,
.button-primary,
.button--primary {
  color: #fff;
  background-color: #59c2ed;
}

.checkout-continue:focus, .checkout-continue:hover, .checkout-continue:active,
.button-primary:focus,
.button-primary:hover,
.button-primary:active,
.button--primary:focus,
.button--primary:hover,
.button--primary:active {
  color: #fff;
}

.checkout-continue:focus, .checkout-continue:hover, .checkout-continue:active,
.button-primary:focus,
.button-primary:hover,
.button-primary:active,
.button--primary:focus,
.button--primary:hover,
.button--primary:active {
  background-color: rgba(89, 194, 237, 0.7);
}

.button--inverse {
  color: #59c2ed !important;
  background-color: #fff;
}

.button--inverse:focus, .button--inverse:hover, .button--inverse:active {
  color: #59c2ed;
}

.button--inverse:focus, .button--inverse:hover, .button--inverse:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.button--secondary {
  color: #777;
  background-color: #ddd;
}

.button--secondary:focus, .button--secondary:hover, .button--secondary:active {
  color: #777;
}

.button--secondary:focus, .button--secondary:hover, .button--secondary:active {
  background-color: rgba(221, 221, 221, 0.7);
}

@media (min-width: 0) and (max-width: 639px) {
  .button + .button,
  .button + a {
    margin-top: 10px;
  }
}

@media (min-width: 640px) {
  .button + .button,
  .button + a {
    margin-left: 0.5em;
  }
}

.form-actions .button + .button,
.form-actions .button + a {
  margin-left: 0.5em;
}

.button + .button--full {
  margin-left: 0;
  margin-top: 10px;
}

.button--spa-locator {
  color: #fff;
  background-color: #59c2ed;
}

.button--spa-locator:focus, .button--spa-locator:hover, .button--spa-locator:active {
  color: #fff;
}

.button--spa-locator:focus, .button--spa-locator:hover, .button--spa-locator:active {
  background-color: rgba(89, 194, 237, 0.7);
}

input[disabled].button,
button[disabled] {
  opacity: 0.5;
  background-color: #777;
}

input[disabled].button:focus, input[disabled].button:hover, input[disabled].button:active,
button[disabled]:focus,
button[disabled]:hover,
button[disabled]:active {
  background-color: #777;
}

.messages {
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.messages a {
  color: #fff;
  text-decoration: underline;
}

.messages ul {
  margin: 0 0.5em 0 1.5em;
}

.messages + .messages {
  margin-top: 10px;
}

.form-wrapper .messages {
  margin-top: 0;
}

.messages__inner {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.messages__inner:before {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: -30px;
  margin-top: -0.25em;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
}

.messages--warning {
  background-color: #d6c460;
  background-position: 0 50%;
}

.messages--warning .messages__inner:before {
  color: #d6c460;
}

.messages--error {
  color: #fff;
  background-color: #b33630;
  background-position: 0 50%;
}

.messages--error .messages__inner:before {
  color: #b33630;
}

.messages--status,
.messages--ok {
  background-color: #8b9931;
  background-position: 0 50%;
}

.messages--status .messages__inner:before,
.messages--ok .messages__inner:before {
  color: #8b9931;
}

.messages__close {
  position: absolute;
  right: -40px;
  margin-top: -0.25em;
  width: 30px;
  height: 30px;
  text-decoration: none !important;
}

.messages__close:before {
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 1.25em;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}

/**
 * $PROGRESS
 */
@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

.progress .bar {
  background-color: #eee;
  border-radius: 0;
  border-radius: 1em;
  overflow: hidden;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.progress .filled {
  background-color: #59c2ed;
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 0;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 3em 1.5em, 100% 100%, 100% 100%;
  background-image: -webkit-linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%);
  background-image: linear-gradient(135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%);
  -webkit-transition: width 0.5s ease-out 0s;
          transition: width 0.5s ease-out 0s;
  -webkit-animation: animate-stripes 3s linear infinite;
          animation: animate-stripes 3s linear infinite;
}

/**
 * Tabs.
 */
/* Basic positioning styles shared by primary and secondary tabs. */
.tabs-primary, .tabs-secondary {
  /* IE 9 and earlier don't understand gradients. */
  list-style: none;
  margin: rhythm(1) 0;
  padding: 0 2px;
  white-space: nowrap;
}

.tabs-primary:after, .tabs-secondary:after {
  content: "";
  display: table;
  clear: both;
}

.tabs-primary__tab, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: left;
  /* LTR */
  margin: 0 3px;
}

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active, a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  text-decoration: none;
}

/* Primary tabs. */
.tabs-primary__tab {
  border-bottom-color: transparent;
  /* IE 9 and earlier don't understand gradients. */
  border-bottom: 0 \0/ie;
}

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active {
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
}

a.tabs-primary__tab-link:hover, a.tabs-primary__tab-link:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}

a.tabs-primary__tab-link:active, a.tabs-primary__tab-link.is-active {
  background-color: transparent;
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  border-color: #fff;
}

/* Secondary tabs. */
.tabs-secondary {
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -rhythm(1);
}

.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  margin: rhythm(1)/2 3px;
}

a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active {
  border-radius: .75em;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}

a.tabs-secondary__tab-link:hover, a.tabs-secondary__tab-link:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}

a.tabs-secondary__tab-link:active, a.tabs-secondary__tab-link.is-active {
  background-color: #666;
  border-color: #000;
  color: #fff;
}

[dir="rtl"] .tabs-primary__tab,
[dir="rtl"] .tabs-secondary__tab,
[dir="rtl"] .tabs-secondary__tab.is-active {
  float: right;
}

/* SMACSS theme rules */
/* No files to import found in theme//* */
/* Print styles */
@media print {
  a:link,
  a:visited {
    text-decoration: underline !important;
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

/*# sourceMappingURL=maps/main.css.map */
