/**
 * $PROGRESS
 */

@include keyframes(animate-stripes) {
  100% {
    background-position: -100px 0;
  }
}

.progress {
  .bar {
    background-color: $light-grey;
    border-radius: 0;
    border-radius: 1em;
    overflow: hidden;
    // border-color: rgba(0,0,0,0.2);
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  }

  .filled {
    background-color: $primary-color;
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 0;

    @include susy-background-clip(border-box);
    @include susy-background-origin(padding-box);
    background-size: 3em 1.5em, 100% 100%, 100% 100%;
    @include susy-background-image(
      linear-gradient(135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%)
    );
    transition: width 0.5s ease-out 0s;
    @include animation(animate-stripes 3s linear infinite );
  }
}

// // Progress bar.
// .progress-wrapper .progress {
//   margin-bottom: 10px;
//   .bar {
//     border: 0 none;
//     margin: 0;
//   }
// }

