/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */


%l-constrained {
  max-width: 980px;
}


$basic-layout: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  gutter-position: inside
);

.layout-container {
  max-width: em($desktop);
  margin: 2em auto;
}
